* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}

nav {
    display: flex;
    box-shadow: inset 0 0 1vw 0 #5a07a8;
    margin: 0;
    padding: 3.75vw;
    padding-left: 7.8vw;
    width: 100vw;
    height: auto;
    background: linear-gradient(90deg, #1a1a1a, #2f2f2f);
    align-items: center;
    justify-content: space-around;
    transition-duration: 1s;
    transition-delay: .1s;
}

nav:hover {
    background-image: url('../Images/star.jpg');
    background-size: 50vw;
    box-shadow: inset 0 0 8vw 0 #5a07a8;
    image-rendering: optimizeQuality;
}

nav:hover #pageName{
    font-size: 2.65vw;
    margin-right: -7.5vw;
}

nav:hover li.navPages{
    font-size: 1.725vw;
}

#pageName {
    margin: 0;
    padding: 0;
    flex: auto;
    color: #fff;
    font-size: 2.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
    height: auto;
    transition-duration: 1s;
}

ul.navPages {
    display: flex;
    flex: auto;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

li.navPages {
    display: flex;
    margin: 0;
    border-radius: 0.1vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.75vw;
    list-style: none;
    transition-delay: .1s;
    transition-duration: 1s;
}

li.navPages:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

a.navPages {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #fff;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(245deg, #1a1a1a, #3b3b3b);
    width: 100vw;
    height: 100vh;
}

#iconContainer {
    display: inline-flex;
    margin-top: 1.8vw;
    margin-bottom: 1.25vw;
    width: 100%;
    height: 6vw;
    justify-content: right;
}

#icons {
    display: flex;
    width: 12vw;
    height: 5vw;
    overflow:hidden;
    margin-right: 1.6vw;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}

#icon {
    display: inherit;
    width: 4vw;
    height: auto;
    align-self: center;
    justify-self: center;
    image-rendering: optimizeQuality;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.1vw white;
    padding: 0.2vw;
    margin: 0.35vw;
    transition-duration: .1s;
}

#icon:hover {
    margin-top: 1vw;
    border-radius: 50%;
    background-color: #5a07a8;
    cursor: pointer;
}

#iconLinks{
    display: inherit;
    width:fit-content;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

#mainContainer {
    display: flex;
    width: 100%;
    height: 50vw;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
}

#textContainer {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 30vw;
    width: 40vw;
    border: solid 0.2vw #5a07a8;
    box-shadow: 0.05vw 0.05vw .6vw 0.001vw #fff;
    background: linear-gradient(245deg, #1f1f1f, #3a3a3a);
    border-radius: 1vw;
    line-height: 3.25vw;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    transition-duration: 1s;
    transition-delay: .1s;
}

#textContainer:hover{
    height: 27.5vw;
    width: 37.5vw;
    box-shadow: 0 0 1.05vw 0.001vw #fff;
    border: solid 0.3vw red;
}

#textContainer:hover #emailButton{
    text-shadow: 0 0 0.1vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
    border: 0.25vw solid rgb(255, 0, 0);
}

#textContainer:hover #gitButton{
    text-shadow: 0 0 0.1vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
    border: 0.25vw solid rgb(255, 0, 0);
}

#textContainer:hover #name{
    text-shadow: 0 0 0.1vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
}

#textContainer:hover #email{
    text-shadow: 0 0 0.1vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
}

#textContainer:hover #heading{
    text-shadow: 0 0 0.1vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
}

#heading {
    display: flex;
    font-size: 2.75vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    text-shadow: 0 0 0.5vw#6f00ff;
    -webkit-text-stroke: 0.02vw #6f00ff;
    text-decoration: underline;
    transition-duration: 1s;
    transition-delay: .1s;
}

#name {
    display: flex;
    font-size: 1.625vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -webkit-text-stroke: 0.04vw #6f00ff;
    transition-duration: 1s;
    transition-delay: .1s;
    font-weight: 900;
}

#email {
    display: flex;
    font-size: 1.625vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    -webkit-text-stroke: 0.04vw #6f00ff;
    transition-duration: 1s;
    transition-delay: .1s;
    font-weight: 900;
}

#buttonContainer{
    width: 24vw;
    height:5vw;
    padding: 0.1vw;
    display:flex;
    overflow:hidden;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#emailButton {
    display: flex;
    width: 8vw;
    height: 3.25vw;
    overflow: hidden;
    padding: 1vw;
    background-color:rgba(197, 197, 197, 0.050);
    flex-direction: row;
    border-radius: 0.4vw;
    border: .25vw solid #5a07a8;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transition-delay: .1s;
    font-size: .95vw;
    font-weight: 900;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #fff;
    -webkit-text-stroke: 0.0375vw #1a1a1a;
}

#gitButton{
    display: flex;
    width: 12vw;
    height: 4vw;
    overflow: hidden;
    flex-direction: row;
    background-color:rgba(197, 197, 197, 0.050);
    border: .25vw solid #5a07a8;
    border-radius: 0.4vw;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transition-delay: .1s;
    font-size: .95vw;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: #fff;
    text-align: center;
    -webkit-text-stroke: 0.0375vw #1a1a1a;
}

footer {
    width: 100vw;
    height: 6vw;
    display: flex;
    background-color: #2f2f2f;
    box-shadow: 0 0 0.6vw 0.1vw #3f3f3f;
    overflow: hidden;
    margin-top: 5vw;
}

#footerContainer {
    overflow: hidden;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    display: inline-flex;
    height: 5.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer1 {
    display: flex;
    color: #fff;
    font-size: 0.9vw;
    font-family: inherit;
}

#footer2 {
    display: flex;
    color: #fff;
    font-size: 1vw;
    font-family: inherit;
}