* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}

nav {
    display: flex;
    box-shadow: inset 0 0 1vw 0 #5a07a8;
    margin: 0;
    padding: 3.75vw;
    padding-left: 7.8vw;
    width: 100vw;
    height: auto;
    background: linear-gradient(90deg, #1a1a1a, #2f2f2f);
    align-items: center;
    justify-content: space-around;
    transition-duration: 1s;
    transition-delay: .1s;
}

nav:hover {
    background-image: url('../Images/star.jpg');
    background-size: 50vw;
    box-shadow: inset 0 0 8vw 0 #5a07a8;
    image-rendering: optimizeQuality;
}

nav:hover #pageName{
    font-size: 2.65vw;
    margin-right: -5.5vw;
}

nav:hover li.navPages{
    font-size: 1.725vw;
}

#pageName {
    margin: 0;
    padding: 0;
    flex: auto;
    color: #fff;
    font-size: 2.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: auto;
    height: auto;
    transition-duration: 1s;
}

ul.navPages {
    display: flex;
    flex: auto;
    padding: 0;
    margin: 0;
    justify-content: space-around;
    text-align: center;
}

li.navPages {
    display: flex;
    margin: 0;
    border-radius: 0.1vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 1.75vw;
    list-style: none;
    text-align: center;
    transition-delay: .1s;
    transition-duration: 1s;
}

li.navPages:hover {
    background-color: rgba(255, 255, 255, 0.13);
}

a.navPages {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: #fff;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(245deg, #1a1a1a, #3b3b3b);
    width: 100vw;
    height: 100vh;
}

#iconContainer {
    display: inline-flex;
    margin-top: 1.8vw;
    margin-bottom: 1.25vw;
    width: 100%;
    height: 6vw;
    justify-content: right;
}

#icons {
    display: flex;
    width: 12vw;
    height: 5vw;
    overflow:hidden;
    margin-right: 1.6vw;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
}

#icon {
    display: inherit;
    width: 4vw;
    height: auto;
    align-self: center;
    justify-self: center;
    image-rendering: optimizeQuality;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.1vw white;
    padding: 0.2vw;
    margin: 0.35vw;
    transition-duration: .1s;
}

#icon:hover {
    margin-top: 1vw;
    border-radius: 50%;
    background-color: #5a07a8;
    cursor: pointer;
}

#iconLinks{
    display: inherit;
    width:fit-content;
    align-self: center;
    justify-self: center;
    border-radius: 50%;
}

#mainContainer {
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-content: center;
    background-color: #2c2b2c;
    flex-wrap: wrap;
    margin-top: 1vw;
    margin-bottom: 6vw;
    box-shadow: 0 0 0.5vw 0.25vw #3b3b3b;
    padding-top:4.5vw;
    padding-bottom:4.5vw;
    transition-duration:.75s;
    transition-delay: .1s;
}

#mainContainer:hover {
    background-color: #2f2f2f;
    box-shadow: 0 0 1vw 0.75vw #3b3b3b;
}

div.projectContainerTop {
    display: flex;
    border: 0.175vw solid #5a07a8;
    width: 25.25vw;
    height: 27vw;
    border-radius: 0.2vw;
    margin: 3vw;
    transition-duration:.75s;
    transition-delay: .1s;
    background: linear-gradient(245deg, #2b2b2b, #3b3b3b);
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

div.projectContainerTop:hover{
    width: 27.25vw;
    height: 27.25vw;
    margin-top: 3.8vw;
    border-radius: 0.5vw;
    border: 0.2vw solid rgb(255, 0 , 0);
}

div.projectContainerTop:hover #projectImage{
    border: 0.175vw solid rgb(255, 0, 0);
}

div.projectContainerBottom {
    display: flex;
    width: 25.25vw;
    height: 27vw;
    border-radius: 0.2vw;
    margin: 3vw;
    transition-duration:.75s;
    transition-delay: .1s;
    border: 0.175vw solid #5a07a8;
    background: linear-gradient(245deg, #2b2b2b, #3b3b3b);
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

div.projectContainerBottom:hover{
    width: 27.25vw;
    height: 27.25vw;
    margin-top: 3.8vw;
    border-radius: 0.5vw;
    border: 0.2vw solid rgb(255, 0 , 0);
}

div.projectContainerTop:hover #projectImage{
    border: 0.1vw solid rgb(255, 0, 0);
    box-shadow: 0 0 0 #6f00ff;
}

div.projectContainerTop:hover #projectImage2{
    border: 0.1vw solid rgb(255, 0, 0);
    box-shadow: 0 0 0 #6f00ff;
    margin-top: 0.9vw;
}

div.projectContainerTop:hover #projectHeading{
    text-shadow: 0 0 0.5vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
}

div.projectContainerTop:hover #githubButton{
    border: 0.1vw solid rgb(255, 0, 0);
}

div.projectContainerBottom:hover #projectImage{
    border: 0.1vw solid rgb(255, 0, 0);
    box-shadow: 0 0 0 #6f00ff;
}

div.projectContainerBottom:hover #projectImage2{
    border: 0.1vw solid rgb(255, 0, 0);
    box-shadow: 0 0 0 #6f00ff;
}

div.projectContainerBottom:hover #projectHeading{
    text-shadow: 0 0 0.5vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
}

div.projectContainerBottom:hover #githubButton{
    text-shadow: 0 0 0.1vw rgb(255, 0 , 0);
    -webkit-text-stroke: 0.02vw rgb(255, 0 , 0);
    border: 0.1vw solid rgb(255, 0, 0);
}

#projectHeading {
    display: flex;
    margin-top: 1.5vw;
    font-size: 1.8vw;
    align-self: center;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    text-shadow: 0 0 0.5vw#6f00ff;
    -webkit-text-stroke: 0.02vw #6f00ff;
    transition-duration:.75s;
    transition-delay: .1s;
}

#projectImage {
    display: flex;
    width: 9vw;
    height: 8vw;
    border: 0.125vw solid #6f00ff;
    box-shadow: 0 0 1.25vw #6f00ff;
    border-radius: 3%;
    transition-duration:.75s;
    transition-delay: .1s;
}

#projectImage2{
    display: flex;
    width: 16vw;
    height: 9vw;
    border: 0.125vw solid #6f00ff;
    box-shadow: 0 0 0.75vw #6f00ff;
    border-radius: 3%;
    transition-duration:.75s;
    transition-delay: .1s;
}

#githubButton{
    width: 6vw;
    height: 3vw;
    border: 0.125vw solid #6f00ff;
    border-radius: .2vw;
    background-color: #5a07a8;
    text-shadow: 0 0 0.5vw#6f00ff;
    color: #fff;
    font-size: 0.875vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    margin-bottom: 3.5vw;
    text-align: center;
    transition-duration:.75s;
    transition-delay: .1s;
}

#portalContainer {
    overflow: hidden;
    display: flex;
    height: 27.5vw;
    width:100%;
    margin-top: 5.5vw;
    margin-bottom: 6.75vw;
    justify-content: center;
}

#portal {
    overflow: hidden;
    display: flex;
    max-width: 14.5vw;
    height: 20vw;
    box-sizing: border-box;
    align-self: center;
}

#portalLink:hover {
    box-shadow: 0 0 0.75vw #5a07a8;
    transition: .6s;
}

#portalLink {
    display: flex;
    max-width: 14.5vw;
    max-height: 37.14vh;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    transition: .6s;
}

footer {
    width: 100vw;
    height: 6vw;
    display: flex;
    background-color: #2f2f2f;
    box-shadow: 0 0 0.6vw 0.1vw #3f3f3f;
    overflow: hidden;
}

#footerContainer {
    overflow: hidden;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    display: inline-flex;
    height: 5.5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#footer1 {
    display: flex;
    color: #fff;
    font-size: 0.9vw;
    font-family: inherit;
}

#footer2 {
    display: flex;
    color: #fff;
    font-size: 1vw;
    font-family: inherit;
}